/* .registration-container {
    display: flex;
  
    align-items: center;
    height: 100vh;
    position: relative;
    margin-left: 150px;
    padding: 20px;
  } */
  .-z-1 {
    z-index: -1;
  }

  .origin-0 {
    transform-origin: 0%;
  }

  input:focus ~ label,
  input:not(:placeholder-shown) ~ label,
  textarea:focus ~ label,
  textarea:not(:placeholder-shown) ~ label,
  select:focus ~ label,
  select:not([value='']):valid ~ label {
    /* @apply transform; scale-75; -translate-y-6; */
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate))
      skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    --tw-scale-x: 0.75;
    --tw-scale-y: 0.75;
    --tw-translate-y: -1.5rem;
  }

  input:focus ~ label,
  select:focus ~ label {
    /* @apply text-black; left-0; */
    --tw-text-opacity: 1;
    color: rgba(0, 0, 0, var(--tw-text-opacity));
    left: 0px;
  }
  /*
  .registration-box {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(41, 86, 209, 0.1);
    padding: 20px;
    margin: 40px 10px;
    width: 45%;
    
  }
  
  .registration-title {
    color: #3b82f6;
    font-size: 2rem;
  

  }
  
  .registration-subtitle {
    color: #3b82f6;
    font-size: 1.5rem;
 
  }
  
  .registration-label {
    display: block;
    margin-bottom: 1rem;
    color: #4299e1;
    font-weight: 500;
  }
  
  .registration-input {
    width: 100%;
    padding: 0.1rem;
    border-radius: 0.25rem;
    border: 1px solid #c7c9c9;
  }
  .registration-input:focus {
    border-color: #4299e1;
    outline: none; /* Remove default focus outline */
  /* } */
  /*
  .registration-button {
    background-color: #4299e1;
    color: white;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  
  .registration-login-link {
    color: #4299e1;
    margin-bottom: 1rem;
  }
  
  .login-link {
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
  }
  
  .moving-image {
    position: absolute;
    margin-right:100px ;
    top: 50%;
    right: 20px; 
    transform: translateY(-50%);
    height: 500px;
    width: 35%; 
    animation: moveUpDown 2s infinite alternate;
  }
  
  .error-message {
    color: red;
    font-size: 0.65rem;
    margin-top: -0.2rem;
  }
  
  .registration-label {
    position: relative; 
  }
  
  .error {
    border: 1px solid red; 
  }*/
  /*
  @keyframes moveUpDown {
    0% {
      transform: translateY(-50%);
    }
    100% {
      transform: translateY(-60%);
    }
  } */