
  /*background-color: #36517e;  Dark blue */
 /* LandingPage.css */

/* Styles for the whole page */
.landing-page {
  background-image: url(./../../assets/img/auth/b1.png);
  
  background-size: cover; /* Ensure the background image covers the entire container */
  /* White text */
  height: 100vh;
  padding: 20px;
}

/* Styles for the header */
.header {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-left: 200px;
  font-size: 24px;
}

.sign-in-button {
  padding: 10px 20px;
  background-color: #007bff; /* Blue button */
  color: #ffffff; /* White text */
  border: none;
  border-radius: 15px;
  width: 150px;
  cursor: pointer;
  margin-right: 200px;
}

/* Styles for the main content */
.main-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
 
}

.image-container {
  flex: 1;
}

.main-image {
  width: 650px;
  height: 650px;
  margin-left: 180px;
}

.text-container {
  flex: 1;
  padding: 0 20px;
}

.text-container h1 {
  color: rgba(0, 0, 0, 0.438);
  font-size: 40px;
 
}

.text-container p {
  font-size: 30px;
  
}

.get-started-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff; /* Blue button */
  color: #ffffff; /* White text */
  border: none;
  border-radius: 15px;
  cursor: pointer;
  width: 150px;
}

